@import 'reset';

@mixin rotate-menu($degree) {
    transform: rotate($degree);
    -webkit-transform: rotate($degree);
    -moz-transform: rotate($degree);
    -ms-transform: rotate($degree);
}

nav {
    background-color: #ffffff;
    border-radius: 8px;
    height: 40px;
    padding: 4px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        display: inline-block;
        @include rotate-menu(-5deg);

        a {
            display: block;
            background-color: #4e8eb838;
            border-radius: 8px;
            padding: 10px;
            text-decoration: none;
            color: #0d1f50;
        }
    }
}